/* VARIABLES CSS */
:root {
    --article-background: #D9D9D9;
    --avatar-source: url("../images/avatar.png");
    --avatar-border: 5px solid #FFFFFF;
    --header-background: #A306B6;
    --inclusive-source: url("../images/inclusive.png");
    --main-color: #A306B6;
    --responsive-source: url("../images/responsive.png");
    --scalable-source: url("../images/scalable.png");
}

/* DESKTOP PART */
@media (min-width: 992px) {
    h1 h2 h3 {
        font-family: 'Montserrat';
    }
    * {
        margin: 0;
        padding: 0;
    }
    header {
        background-color: var(--header-background);
        margin-bottom: 5%;
        width: 100%;
    }
    .container-menu{
        display: flex;
        justify-content: space-between;
        padding-right: 2%;
        padding-left: 2%;
    }
    .logo-favicon {
        width: 50px;
        height: 50px;
    }
    .container-link-menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    .container-link-menu ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        list-style-type: none;
    }
    .card-body button {
        margin-top: 5%;
        margin-bottom: 5%;
        background-color: var(--header-background);
        color: #FFFFFF;
        width: 100px;
        height: 40px;
        border-style: none;
        border-radius: 100px;
    }
    .container-link-menu ul li {
        margin-right: 5%;
    }
    .container-link-menu ul li a {
        color: #FFFFFF;
        text-decoration: none;
        font-weight: bolder;
    }
    .cards img {
        width: 150px;
        height: 150px;
    }
    .container-menu-avatar {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }
    .containerHeaderTitle {
        font-size: 2rem;
        color: #FFFFFF;
        margin-right: 20%;
    }  
    .card-body {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .avatar {
        outline: var(--avatar-border);
        outline-offset: -4px;
        border-radius: 100%;
        width: 350px;
        height: 350px;
        margin-top: 5%;
        margin-bottom: 5%;
    }  
    .container-cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 80vw;
        margin: auto;
        margin-bottom: 5%;
    }
    h1 {
        text-align: center;
        color: var(--header-background);
    }
    .containerHeaderTitle h1 {
        color: #FFFFFF;
    }
    .container-cards {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .container-cards .cards {
        background-color: var(--article-background);
        border-radius: 5px;
        margin-top: 2%;
        margin-right: 2%;
    }
    .container-cards .cards img {
        width: 230px;
        height: 200px;
    }
    .cards img {
        width: inherit;
        height: inherit;
    }
    .container-about {    
        width: 40vw;
        margin: auto;
        margin-bottom: 5%;
    }
    .container-about p {
        margin-top: 2%;
    }
    footer {
        background-color: var(--article-background);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer .footer-link {
        text-decoration: none;
        color: var(--header-background);
    }
}
/* MOBILE PART */
@media (max-width: 992px) {

    h1 h2 h3 {
        font-family: 'Montserrat';
    }
    * {
        margin: 0;
        padding: 0;
    }
    h1 {
        text-align: center;
        margin-top: 5%;
        color: var(--header-background)
    }
    header {
        background-color: var(--header-background);
        height: 350px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo-favicon {
        width: 100px;
        height: 100px;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: space-evenly;
        width: 100vw;
    }
    nav ul li a {
        text-decoration: none;
        font-weight: bolder;
        color: #FFFFFF;
    }
    .avatar {
        outline: var(--avatar-border);
        outline-offset: -4px;
        border-radius: 100%;
        width: 100px;
        height: 100px;
    }
    .container-menu-avatar :first-child {
        margin-top: 5%;
    }
    .containerHeaderTitle h1 {
        color: #FFFFFF;
    }
    .containerHeaderTitle {
        color: #FFFFFF;
    }
    main {
        display: flex;
        flex-direction: column;
    }
    .container-cards {
        width: 80vw;
        margin: 5% auto;
    }
    .container-cards .subTitle {
        text-align: center;
        color: var(--header-background);
    }
    .container-cards .cards {
        background-color: var(--article-background);
        border-radius: 5px;
        margin-top: 5%;
    }
    .cards img {
        width: 100%;
        height: 100%;
    }
    .card-body {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card-body button {
        margin-top: 5%;
        margin-bottom: 5%;
        background-color: var(--header-background);
        color: #FFFFFF;
        width: 100px;
        height: 40px;
        border-style: none;
        border-radius: 100px;
    }
    .container-about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80vw;
        margin: auto;
    }
    .container-about p {
        margin-top: 10%;
    }
    footer {
        margin-top: 10%;
        background-color: var(--article-background);
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer .footer-link {
        color: var(--header-background);
        text-decoration: none;
    }
}